ASTERISK_MANAGER_CRON_SECRET=
ASTERISK_MANAGER_LISTENCRON_SECRET=
ASTERISK_MANAGER_SENDCRON_SECRET=
ASTERISK_MANAGER_UPDATECRON_SECRET=
ASTERISK_PJSIP_1001_AUTH_PASSWORD=
ASTERISK_PJSIP_1002_AUTH_PASSWORD=
ASTERISK_PJSIP_1003_AUTH_PASSWORD=
ASTERISK_PJSIP_1005_AUTH_PASSWORD=
ASTERISK_PJSIP_1006_AUTH_PASSWORD=
ASTERISK_PJSIP_2001_AUTH_PASSWORD=
ASTERISK_PJSIP_2002_AUTH_PASSWORD=
ASTERISK_PJSIP_2003_AUTH_PASSWORD=
ASTERISK_PJSIP_2004_AUTH_PASSWORD=
ASTERISK_PJSIP_2005_AUTH_PASSWORD=
ASTERISK_PJSIP_2006_AUTH_PASSWORD=
ASTERISK_PJSIP_2007_AUTH_PASSWORD=
ASTERISK_PJSIP_2008_AUTH_PASSWORD=
ASTERISK_PJSIP_2009_AUTH_PASSWORD=
ASTERISK_PJSIP_2010_AUTH_PASSWORD=
ASTERISK_PJSIP_2011_AUTH_PASSWORD=
ASTERISK_PJSIP_2012_AUTH_PASSWORD=
ASTERISK_PJSIP_2013_AUTH_PASSWORD=
ASTERISK_PJSIP_2014_AUTH_PASSWORD=
ASTERISK_PJSIP_2015_AUTH_PASSWORD=
ASTERISK_PJSIP_2016_AUTH_PASSWORD=
ASTERISK_PJSIP_2017_AUTH_PASSWORD=
ASTERISK_PJSIP_2018_AUTH_PASSWORD=
ASTERISK_PJSIP_2019_AUTH_PASSWORD=
ASTERISK_PJSIP_2020_AUTH_PASSWORD=
ASTERISK_PJSIP_2021_AUTH_PASSWORD=
ASTERISK_PJSIP_2022_AUTH_PASSWORD=
ASTERISK_PJSIP_2023_AUTH_PASSWORD=
ASTERISK_PJSIP_2024_AUTH_PASSWORD=
ASTERISK_PJSIP_2025_AUTH_PASSWORD=
ASTERISK_PJSIP_2026_AUTH_PASSWORD=
ASTERISK_PJSIP_2027_AUTH_PASSWORD=
ASTERISK_PJSIP_2028_AUTH_PASSWORD=
ASTERISK_PJSIP_2029_AUTH_PASSWORD=
ASTERISK_PJSIP_2030_AUTH_PASSWORD=
ASTERISK_PJSIP_2031_AUTH_PASSWORD=
ASTERISK_PJSIP_2032_AUTH_PASSWORD=
ASTERISK_PJSIP_2033_AUTH_PASSWORD=
ASTERISK_PJSIP_2034_AUTH_PASSWORD=
ASTERISK_PJSIP_2035_AUTH_PASSWORD=
ASTERISK_PJSIP_2036_AUTH_PASSWORD=
ASTERISK_PJSIP_2037_AUTH_PASSWORD=
ASTERISK_PJSIP_2038_AUTH_PASSWORD=
ASTERISK_PJSIP_2039_AUTH_PASSWORD=
ASTERISK_PJSIP_2040_AUTH_PASSWORD=
ASTERISK_PJSIP_2041_AUTH_PASSWORD=
ASTERISK_PJSIP_2042_AUTH_PASSWORD=
ASTERISK_PJSIP_2043_AUTH_PASSWORD=
ASTERISK_PJSIP_2044_AUTH_PASSWORD=
ASTERISK_PJSIP_2045_AUTH_PASSWORD=
ASTERISK_PJSIP_2046_AUTH_PASSWORD=
ASTERISK_PJSIP_2047_AUTH_PASSWORD=
ASTERISK_PJSIP_2048_AUTH_PASSWORD=
ASTERISK_PJSIP_2049_AUTH_PASSWORD=
ASTERISK_PJSIP_2050_AUTH_PASSWORD=
ASTERISK_PJSIP_2051_AUTH_PASSWORD=
ASTERISK_PJSIP_2052_AUTH_PASSWORD=
ASTERISK_PJSIP_2053_AUTH_PASSWORD=
ASTERISK_PJSIP_2054_AUTH_PASSWORD=
ASTERISK_PJSIP_2055_AUTH_PASSWORD=
ASTERISK_PJSIP_2056_AUTH_PASSWORD=
ASTERISK_PJSIP_2057_AUTH_PASSWORD=
ASTERISK_PJSIP_2058_AUTH_PASSWORD=
ASTERISK_PJSIP_2059_AUTH_PASSWORD=
ASTERISK_PJSIP_2060_AUTH_PASSWORD=
ASTERISK_PJSIP_2062_AUTH_PASSWORD=
ASTERISK_PJSIP_2063_AUTH_PASSWORD=
ASTERISK_PJSIP_2065_AUTH_PASSWORD=
ASTERISK_PJSIP_2066_AUTH_PASSWORD=
ASTERISK_PJSIP_2067_AUTH_PASSWORD=
ASTERISK_SIP_1001_SECRET=
ASTERISK_SIP_1002_SECRET=
ASTERISK_SIP_1003_SECRET=
ASTERISK_SIP_1004_SECRET=
ASTERISK_SIP_1005_SECRET=
ASTERISK_SIP_1006_SECRET=
ASTERISK_SIP_1007_SECRET=
ASTERISK_SIP_1008_SECRET=
ASTERISK_SIP_1009_SECRET=
ASTERISK_SIP_1010_SECRET=
ASTERISK_SIP_1011_SECRET=
ASTERISK_SIP_1012_SECRET=
ASTERISK_SIP_1013_SECRET=
ASTERISK_SIP_1014_SECRET=
ASTERISK_SIP_1015_SECRET=
ASTERISK_SIP_1016_SECRET=
ASTERISK_SIP_1017_SECRET=
ASTERISK_SIP_1018_SECRET=
ASTERISK_SIP_1019_SECRET=
ASTERISK_SIP_1020_SECRET=
ASTERISK_SIP_1021_SECRET=
ASTERISK_SIP_1022_SECRET=
ASTERISK_SIP_1023_SECRET=
ASTERISK_SIP_1024_SECRET=
ASTERISK_SIP_1025_SECRET=
ASTERISK_SIP_1026_SECRET=
ASTERISK_SIP_1027_SECRET=
ASTERISK_SIP_1028_SECRET=
ASTERISK_SIP_1029_SECRET=
ASTERISK_SIP_1030_SECRET=
ASTERISK_SIP_REGISTRATION_36_PASSWORD=
ASTERISK_SIP_REGISTRATION_37_PASSWORD=
ASTERISK_SIP_TATASIP_SECRET=
ASTERISK_SIP_TATA_NEW_SECRET=
