[general]
persistentmembers=no
autofill=yes
monitor-type=MixMonitor

[attica-kannada]
musicclass=default
strategy=rrmemory
timeout=20
retry=0
wrapuptime=1
maxlen=0
joinempty=yes
leavewhenempty=no
ringinuse=no
autopause=no
autopausedelay=0

[attica-tamil]
musicclass=default
strategy=rrmemory
timeout=20
retry=0
wrapuptime=1
maxlen=0
joinempty=yes
leavewhenempty=no
ringinuse=no
autopause=no
autopausedelay=0

[attica-telugu]
musicclass=default
strategy=rrmemory
timeout=20
retry=0
wrapuptime=1
maxlen=0
joinempty=yes
leavewhenempty=no
ringinuse=no
autopause=no
autopausedelay=0

[attica-hindi]
musicclass=default
strategy=rrmemory
timeout=20
retry=0
wrapuptime=1
maxlen=0
joinempty=yes
leavewhenempty=no
ringinuse=no
autopause=no
autopausedelay=0

[attica-english]
musicclass=default
strategy=rrmemory
timeout=20
retry=0
wrapuptime=1
maxlen=0
joinempty=yes
leavewhenempty=no
ringinuse=no
autopause=no
autopausedelay=0
